$charcoal: #000;
$mine-shaft: #1f1f1f;
$cod-gray: #3f3f3f;
$white: #fff;
$dove-gray: #f2f2f2;
$bright-red: #D31E63;

@mixin body-view {
  padding: 3rem;
}

$break-small: 800px;

// Reset every element so that it has 0 margin and padding
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir', Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  color: $white;
}

#app {
  background-color: $charcoal;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

// Sidebar showing date
.sidebar {
  width: 170px;
  background-color: $mine-shaft;
  padding: 3rem 0;
  min-height: 100vh;

  .days {
    margin: 0;
    padding: 0;
    list-style: none;

    .day {
      padding: 0.5rem 1rem;
      color: $dove-gray;
      cursor: pointer;

      &.active {
        background-color: $bright-red;
        color: $white;
        font-weight: 600;
      }

      &+.day {
        margin-top: 1rem;
      }
    }
  }
}

// Parent for main content
#content {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

// Main content
.main-content {
  width: 100%;
  margin: 3rem;
}

// Page Title
#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // Margin bottom = 32px
  margin-bottom: 2rem;

  // This is for showing filter sidebar
  .box-filter {
    font-size: 1rem;
    color: $dove-gray;
    display: flex;
    align-items: center;
    a{
      font-size: 1rem;
      color: $dove-gray;
      text-decoration: none;
    }

    .title {
      margin-right: 2rem;
      cursor: pointer;
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $bright-red;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: 0.3s ease-out;
        position: absolute;
        left: 0;
        bottom: -4px;
      }

      &:hover {
        &::before {
          transform: scaleX(1);
        }
      }
    }
  }
}

// Select Dropdown
#select {
  select {
    background-color: $cod-gray;
    border-color: transparent;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    color: $white;
    font-size: 1rem;
  }
}

// No Results
.no-results {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 2rem;
}

// Filter sidebar
.filter-sidebar {
  min-height: 100vh;
  width: 200px;
  background-color: $mine-shaft;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: -1.5rem 0 3rem 0 rgba($charcoal, 0.16);
  z-index: 2;
  padding: 1.5rem;
  transition: 0.3s ease-out;
  transform: translateX(100%);

  &.active {
    transform: translateX(0);
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // Margin bottom = 24px
    margin-bottom: 1.5rem;
  }

  h2 {
    // Font size = 20px
    font-size: 1.25rem;
    font-weight: 500;
    color: $white;
  }

  // Icon for closing filter sidebar
  .close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
  }

  #movie-filter {
    .filter-group {

      h3 {
        // Font size = 16px
        font-size: 1rem;
        font-weight: 500;
        // Margin bottom = 16px
        margin-bottom: 1rem;
      }

      .check-filter {
        color: $dove-gray;
        cursor: pointer;
        // Margin bottom = 24px
        margin-bottom: 1.5rem;
        // Margin right = 16px
        margin-right: 1rem;
        display: flex;
        align-items: center;

        @media screen and (max-width: $break-small) {
          width: 150px;
        }

        &:hover {
          color: $white;

          .checkbox {
            border-color: $white;
          }
        }

        &.active {
          color: $white;

          .checkbox::after {
            content: '';
            border-color: $white;
            background-color: $bright-red;
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 2px;

          }
        }

        .checkbox {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 24px;
          height: 24px;
          border: 1px solid $dove-gray;
          border-radius: 4px;
          user-select: none;
          // Margin right = 16px
          margin-right: 1rem;
        }
      }
    }
  }
}

#movie-list {
  .movie-list-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    align-items: start;
    justify-items: start;
  }

  h2 {
    // Margin bottom = 24px
    margin-bottom: 1.5rem;
  }
}

.movie {
  .movie-title {
    a {
      text-decoration: none;
    }

    h2 {
      color: $white;
      // Font size = 16px
      font-size: 1rem;
      font-weight: 600;
      // Margin top = 12px
      margin-top: 0.75rem;
      // Margin bottom = 12px
      margin-bottom: 0.75rem;
    }

    .movie-rating {
      background-color: $bright-red;
      display: inline-block;
      // Font size = 14px
      font-size: 0.875rem;
      color: $white;
      padding: 4px 12px;
      border-radius: 4px;
      // Margin bottom = 12px
      margin-bottom: 0.75rem;
    }
  }

  .movie-sessions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .session-time-wrapper {
      // Margin left = 12px
      margin-right: 0.75rem;
      margin-bottom: 0.75rem;
    }

    .session-time-wrapper {
      background-color: $cod-gray;
      // Font size = 14px
      font-size: 0.875rem;
      border-radius: 8px;
      padding: 8px;
      user-select: none;
      cursor: default;
      flex-shrink: 0;
    }
  }
}

$tooltip-width-desktop: 9rem;
$tooltip-width-mobile: 9rem;
$tooltip-padding: 0.5rem;
$arrow-border: 7px;

.tooltip-wrapper {
  position: relative;

  .tooltip {
    display: none;

    &.tooltip-show {
      text-align: center;
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      width: $tooltip-width-desktop;
      transform: translate(-(calc($tooltip-width-mobile / 2) + $tooltip-padding), 50px);
      background-color: $cod-gray;
      color: white;
      padding: $tooltip-padding;
      z-index: 10;

      @media screen and (max-width: $break-small) {
        width: $tooltip-width-mobile;
        transform: translate(-(calc($tooltip-width-mobile / 2) + $tooltip-padding), 40px);
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: $arrow-border solid transparent;
      border-right: $arrow-border solid transparent;
      border-bottom: 10px solid $cod-gray;
      top: -10px;
      left: calc(50% - #{$arrow-border});
    }
  }
}

#detail {
  .movie {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }

  .movie-genre {
    background-color: $cod-gray;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: inline-block;
  }

  .movie-plot {
    margin-bottom: 12px;
    color: $dove-gray;
  }

  table {
    // border: 1px solid $dove-gray;
    // padding: 12px;
    margin-bottom: 12px;

    td {
      // border-bottom: 1px solid $dove-gray;
      padding: 12px 12px 12px 0;

      +td {
        border-left: 1px solid $dove-gray;
        padding-left: 16px;
      }
    }
  }

  .home {
    margin-bottom: 1.5rem;
    padding-left: 1rem;

    a {
      color: $white;
      text-decoration: none;
      position: relative;

      &::before {
        content: '<';
        position: absolute;
        left: -16px;
      }

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $bright-red;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: 0.3s ease-out;
        position: absolute;
        left: 0;
        bottom: -4px;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

#addMovie{
  background-color: $mine-shaft;
  padding: 25px 40px;
  border-radius: 3px;
  .home {
    margin-bottom: 1.5rem;
    padding-left: 1rem;

    a {
      color: $white;
      text-decoration: none;
      position: relative;

      &::before {
        content: '<';
        position: absolute;
        left: -16px;
      }

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $bright-red;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: 0.3s ease-out;
        position: absolute;
        left: 0;
        bottom: -4px;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
  h2{
    margin-bottom: 1.5rem;
  } 
  .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    .col-6{

    .input-group{
      margin-bottom: 1rem;
      // display: flex;
      align-items: center;
      label{
        margin-bottom: 6px;
        display: block;
      }
      input{
        border: none;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        color: $white;
        width: 100%;
        font-size: 1rem;
        background-color: $cod-gray;
  font-family: 'Avenir', Helvetica, sans-serif;
  
  input [type="date"]{
    &::-webkit-calendar-picker-indicator{
      color: $white;
    }
  }
  
  }
  select {
    font-family: 'Avenir', Helvetica, sans-serif;
    background-color: $cod-gray;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    color: $white;
    font-size: 1rem;
    width: 100%;
  }
  .v-select{
    background-color: $cod-gray;
    border: none;
    border-radius: 0.5rem;
    .vs__selected{
      background: $bright-red;
      color: #fff;
      .vs__deselect{
        fill: #f2f2f2;
      }
    }
   .vs__dropdown-menu{
    background-color: #3f3f3f;
    border: none;
   }
    .vs__selected-options{
      .vs__search input{
        background-color: transparent;
        border: none;
        &::placeholder{
          color: $dove-gray;
          opacity: 5;
        }
      }
    }
  }
 
  textarea{
    width: 100%;
    background-color: $cod-gray;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    color: $white;
    font-size: 1rem;
    // font-family: 'Avenir', Helvetica, sans-serif;
  }
    }
  }

  }
.btn-holder{
  text-align: center;
  .action-btn{
    background-color: $bright-red;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    color: $white;
    &:hover{
      background-color: lighten($color: #D31E63, $amount: 5%);
      cursor: pointer;
    }
  }
}


}